body{
    background-color: #ffffff;
    min-height: 100%;
}

html{
    min-height: 100%;
}

h2:after
{
    margin-top: 3px;
    content:' ';
    display:block;
    border:1px solid black;
    margin-bottom: 20px;
}

th, td{
    border: 1px solid #3c3c3c;
    text-align: center;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
}

.tableList{
    border: 2px solid black;
    background-color: lightgreen;
}

.footer-spacer {
    width: 90%;
    margin: 20px auto;
    height: 1px;
}

.footer{
    text-align: center;
    background-color: #3c3c3c;
    color: white;
    padding: 10px;
    font-size: 20px;
    position: fixed;
    width: 100%;
    margin-top: auto;

}

.content{
    min-height: 100%;
}

.addElement{
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    background-color: #2aabd2;
    color: white;
    border-radius: 5px;
    padding: 7px;
    border: 1px dotted #3c3c3c;
}